*{
    margin: 0px;
    padding:0px
}
html{
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 400px;
    background-color:#3f1e59;
    overflow: hidden;
}

#top-header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    background-color:#3f1e59;
    position: fixed;
}
#top-header-left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 20px;
    margin-left: 20px;
}
#top-header-left>div{
    margin-right: 20px;
}
#top-header-left #search-icon{
    position: absolute;
    color: rgba(255,255,255,.3);
    left: 70px;
    margin-left: 20px;
}
#top-header-left #search-box{
    padding: 9px 40px;
    border-radius: 4px;
    background-color: rgba(255,255,255,.1);
    border-color: rgba(255,255,255,.15);
    color: rgba(255,255,255,.7);
    font-weight: bold;
}
#top-header-right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgba(255,255,255,.7);
    padding: 20px;
    padding-right: 20px;
}
#top-header-right>div{
    margin-right: 15px;
}
#top-header-right-image{
    width: 30px;
}

#top-header #picture-container{
    border: 1px solid gray;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#top-header #picture-container-image{
    border-radius: 50%;
    width: 83%;
    height: 83%;
}

#content {
    /* width: 15%; */
    position: absolute;
    top: 100px;
    right: 10px;
    display: none;
    height: 150px;
    
    background-color: #ffffff;
    padding-top: 1px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-radius: 4px;
    color: #1a1919;
    /* margin-top: 10px; */
}
  #content h6{
    margin: 8px 10px 10px 0px; 
  }

  #inner-content div{
    margin: 6px 0;
    padding-top: 5px;
  }
  #top-bar>.e-input:checked ~ #content{
  display: block;
  }

/* bottom-header */
#bottom{
height: 300px;
overflow: hidden;
width: 100%;

}

#bottom-header{
    width: 100%;
    
    display: flex;
    justify-content: space-between;

}
#bottom-header #bottom-header-right{
        display: flex;
        justify-content: space-around;
        align-items: top;
        color: white;
        margin-top: 40px;
        margin-right: 20px;
        padding-right: -45px;
}

#bottom-header #bottom-header-left{
    margin-top: 40px;
    color: white;
    margin-left: 37px;
    
}

#bottom-header #bottom-header-right>div{
    padding-right: 20px;  
}

#bottom-header #bottom-header-right .layout{
    color: rgba(255,255,255,.7);
}

/* bottom */
#bottom-main{
    justify-content: center;
    align-items: center;
    height: 63%;
    margin: 30px;
    width: 95%;
    background-color: rgba(255,255,255,.1);
    color: white;
}
#boxes-above{
   display: flex;
   justify-content: center;
}
#boxes-below{
   display: flex;
   justify-content: center;
}
#boxes-above>div{
    padding: 10px 280px 40px 5px;
    line-height: 30px;
}
#boxes-below>div{
    padding: 10px 280px 40px 5px;
    line-height: 30px;
}
#boxes-above>div>p{
    color: rgba(255,255,255,.3);;
}
#boxes-below>div>p{
    color: rgba(255,255,255,.3);;
}

.round-shape-arrow{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(63 30 89);
    position: absolute;
    right: 644px;
    top: 380px;
}

/* @media screen (){
    
} */
