*{
    margin: 0px;
    padding:0px
}
html{
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 350px;
    background-color:#3f1e59;
}

#top-header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    
}
#top-header-left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 20px;
}
#top-header-left>div{
    margin-right: 20px;
}
#top-header-left #search-icon{
    position: absolute;
    color: rgba(255,255,255,.3);
    left: 70px;
}
#top-header-left #search-box{
    padding: 9px 40px;
    border-radius: 4px;
    background-color: rgba(255,255,255,.1);
    border-color: rgba(255,255,255,.15);
    color: rgba(255,255,255,.7);
    font-weight: bold;
}
#top-header-right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgba(255,255,255,.7);
    padding: 20px;
}
#top-header-right>div{
    margin-right: 20px;
}
#top-header-right-image{
    width: 30px;
}

#top-header #picture-container{
    border: 1px solid gray;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#top-header #picture-container-image{
    border-radius: 50%;
    width: 83%;
    height: 83%;
}

#bottom-header{
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: space-between;

}
#bottom-header #bottom-header-right{
        display: flex;
        justify-content: space-around;
        align-items: top;
        color: white;
        margin-top: 40px;
        margin-right: 20px;
}

#bottom-header #bottom-header-left{
    margin-top: 40px;
    color: white;
    margin-left: 20px;
}

#bottom-header #bottom-header-right>div{
    padding-right: 20px;  
}

#bottom-header #bottom-header-right .layout{
    color: rgba(255,255,255,.7);
}