*{
    margin: 0px;
    padding:0px
}
html{
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 350px;
    background-color:#3f1e59;
}

#top-header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    
}
#top-header-left{
    display: flex;
    color: white;
    padding: 20px;
}
#top-header-right{
    display: flex;
    color: white;
    padding: 20px;
}
#top-header-right-image{
    width: 40px;
}

#top-header #picture-container{
    border: 1px solid gray;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#top-header #picture-container-image{
    border-radius: 50%;
    width: 83%;
    height: 83%;
}

#bottom-header{
    width: 100%;
    height: 280px;
 
}
/* #bh-h4{
    margin: 0;
} */