#section-2-div{
    background-color: inherit;
    color: black;
    height: 400px;
    width: 95%;
    margin: 2% auto;
    display: flex;
    justify-content: space-between;
}

.section-2-p{
    margin-left: 2%;
}
#section-2-divvy{
    width: 63%;
    background-color: white;
    border-radius: 10px;
}
#section-2-divvx{
    width: 35%;
    margin-left: 2.5%;
    border-radius: 10px;
    background-color: white;
}
.section-2-divvx-fl{
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
    border-bottom: 1px solid silver;
}

.section-2-divvx-fl-p{
    padding:0.5%;
    width: 12%;
    border-radius: 15%;
    color: white;
}

.this-div{
    margin-left: -1.6%;
}

.section-2-div-fl, .section-2-1-div-fl{
    display: flex;
    justify-content: space-between;
    padding: 1.5%;
}

#section-2-innerdiv{
    background-color: rgb(219, 219, 219);
    border: 1px solid silver;
    margin-left: 1.5%;
    width: 35%;
    border-radius: 10px;
    padding: 2%;
}

#section-2-innerdiv > p{
    padding-bottom: 5%;
    font-size: 15px;
}

#section-2-innerdiv-id{
    width: 90%;

}
#section-2-innerdiv > legend{
    font-size: 25px;
    letter-spacing: 1px;
}
span{
    color:gray;
}

#canvas-span{
    background-color: red;
    color: white; 
    padding: 1.2%;
    border-radius: 5px;
    margin-left: 70%;
    margin-top: 20%;
}


#select-years{
    border: none;
    cursor: pointer;
    
}

.select-2-p> option{
    width: 100%;
    
}



/* -------------------------------------------------------------------------------------------------------------------- */
@media(max-width: 1024px){
    .section-2-divvx-fl{
        overflow-x: auto;
    }
    #section-2-div{
        width: 96.5%;
    }
}

@media (max-width: 967px) {
    #section-2-div{
        display: grid;
        width: 98%;
        margin-left: 1.6%;
        margin-bottom: 103.3%;
    }
    #section-2-divvx{
        width: 84.2vw;
        padding: 5%;
    }
    #section-2-divvy{
        width: 83.8vw;
        margin-bottom: 2%;
        margin-left: 2.8%;
        padding: 5%;
        
    }
    .section-2-divvx-fl p{
       font-size: 1.15rem;
    }
    .section-2-div-fl p{
      font-size: 1.15rem;
    }
    #select-years{
        font-size: 1.15rem;
    }
    #barChart{
        width: 100% !important;
    }
}

@media (max-width: 512px) {
    #barChart{
        overflow-x: scroll;
    }

    #section-2-innerdiv > legend{
        font-size: 1.2rem;
    }

    #canvas-span{
        margin-left: 40px;
    }

    @media (max-width: 468px) {
        .section-2-divvx-fl p{
            font-size: 1rem;
         }
         .section-2-div-fl p{
           font-size: 1rem;
         }
         #select-years{
             font-size: 1rem;
         }
    }
}

@media (max-width:422px) {
    .section-2-divvx-fl p{
        font-size: 0.9rem;
     }
     .section-2-div-fl p{
       font-size: 0.9rem;
     }
     #select-years{
         font-size: 0.9rem;
     }

     #section-2-div{
        margin-bottom: 95%;
     }
}

@media (max-width: 388px) {
    #section-2-div{
        margin-bottom: 90%;
     }
     .section-2-divvx-fl p{
        font-size: 0.75rem;
     }
     .section-2-div-fl p{
       font-size: 0.75rem;
     }
     #select-years{
         font-size: 0.75rem;
     }

}